@charset "utf-8";

.hero {
	margin-top: 11vh;
    margin-bottom: 50px;
    text-align: center; 
}

@media screen and (min-height:780px) {
	.hero {
		margin-top: 8vh;
	}
}

.hero video {
    width: 100%; 
    max-width: 1400px; 
    height: auto; 
    border: 3px solid #a83d3d; 
    border-radius: 8px; 
	display: inline-block;
	vertical-align: middle;
/	margin-top: 1.2rem;
}

.description {
	width: 70vw;
	margin: 0 auto 4%;
    padding: 3% 7%;
/   border-radius: 10px; 
	background:rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    line-height: 1; 
    font-size: 1.2rem;
    font-family: 'Shippori Mincho', serif; 
}

@media screen and (max-width: 450px) {
	.description {
		width: 90vw;
	}
}

.description p {
    margin-bottom: 1.1em; 
	color:#FFF;
}

.description span {
	font-size: 2rem;
	color: #ff3300;
}
